.content {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 168px);
}

.menu {
  min-width: 20vw;
  max-height: 100%;
  overflow-y: auto;
  margin: 0 10px;
}

.menu::-webkit-scrollbar {
  width:10px;
  background-color: rgba(0, 21, 41, 0.082);
}

.menu::-webkit-scrollbar-thumb {
  background-color: rgb(0, 21, 41);
}

.menu-item {
  font-size: 1.1em;
  background-color: #fff;
  margin-bottom: 10px;
  min-width: 20vw;
  max-width: 30vw;
  padding: 5px 10px;
}

.btn {
  margin: 0 20px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #dee1e6;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.drawer-btn {
  margin: 10px auto;
  width: 100%;
}

.mode-tag {
  line-height: 30px;
}